.view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 80%;
  height: 80%;
  display: grid;
  grid: 1fr 5fr 1fr / 1fr 5fr 1fr;
  grid-template-areas: ". progress setting"
                       ". main ."
                       ". control .";
}
/* .wrapper>div {
  border: 1px solid rgb(0, 0, 0, 0.3);
} */
.progress {
  grid-area: progress;
  /* background-color: pink; */
  align-self: end;
  text-align: center;
}
.setting {
  grid-area: setting;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.setting>.btn {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  text-align: center;
}
.main {
  grid-area: main;
  /* background: url("~assets/image/fftq.jpg"); */
  /* background-size: cover; */
  border-radius: 1rem;
}
.control {
  grid-area: control;
  text-align: center;
}
.control>.btn {
  margin-top: 1.5rem;
  width: 5rem;
  height: 5rem;
  
  /* background-color: red; */
}
.iconfont {
  font-size: 2rem;
}